body{
    margin: 0;
    padding: 0;
    font-size: 14px;
    background-color: #fff;
}

ul{
    margin: 0;
    padding: 0;
}

.tab_title, .nav_photo, .about_team, .join_us, .contact_us, .footer{
    text-align: center;
}

.tab_title{
    font-size: 16px;
    /*background: url("../img/about_meixin/about_meixin.png") no-repeat;*/
}

.tab_title_bgc{
    background: rgba(255,255,255,0.5);
}

.tab_title_wrapper{
    width: 62.5%;
    height: 75px;
    margin-left: 18.75%;
    position: relative;
}

.tab_title_logo, .tab_title_tab, .tab_title_button{
    display: inline-block;
}

.tab_title_logo{
    /*float: left;*/
    position: absolute;
    left: 0px;
    height: 75px;
}

.tab_title_logo img{
    width: 160px;
    height: auto;
    margin-top: 15px;
}

.tab_title_tab{
    width: 100%;
}

.tab_title_tab ul{
    float: right;
    margin-right: 200px;
    list-style-type: none;
}

.tab_title_tab ul li{
    float: left;
    display: inline-block;
    margin-right: 40px;
    padding: 0 10px;
    line-height: 75px;
}

.tab_title_tab ul li a{
    color: #555;
    text-decoration: none;
}

.tab_title_active{
    height: 73px;
    border-bottom: 2px solid #223976;
}

.tab_title_button{
    position: absolute;
    top: 0px;
    right: 0px;
}

.tab_title_button button{
    width: 76px;
    height: 33px;
    margin-top: 20px;
    border-radius: 4px;
}

.tab_title_join{
    color: #fff;
    margin-right: 25px;
    border: 1px solid #159bd6;
    background-color: #159bd6;
}

.tab_title_login{
    color: #223976;
    border: 1px solid #223976;
}

.nav_photo{
    /*padding-top: 160px;*/
    text-align: center;
    /*height: 525px;*/
    color: #fff;
    position: relative;
}

.nav_photo_fir{
    font-size: 40px;
    margin-bottom: 0;
}

.nav_photo_sec{
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 0;
}

.nav_photo_thi{
    font-size: 30px;
    margin-top: 30px;
}

.nav_photo_tab{
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 100%;
    background-color: rgba(53,76,131,.6);
}

.nav_photo_tab_wrapper{
    width: 58%;
    margin-left: 20%;
}

.nav_photo_tab_wrapper ul li{
    float: left;
    list-style-type: none;
    display: inline-block;
    width: 20%;
    line-height: 50px;
}

.nav_photo_tab_wrapper ul li a{
    color: #fff;
    text-decoration: none;
}

.nav_photo_tab_active a{
    height: 40px;
    padding: 0 10px;
    display: inline-block;
    border-bottom: 2px solid #fff;
}



/**
* 团队成员
*/
.about_team, .about_advisors, .about_backers, .about_media, .about_contact_us{
    width: 1200px;
    margin-left: calc(50% - 600px);
}

.about_team_describe{
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.about_row{
    width: 100%;
    display: table;
}

.team_cell{
    width: 33.3%;
    height: 300px;
    padding: 0 30px;
    display: table-cell;
}


/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}

.flip-container, .front, .back {
    width: 100%;
    height: 310px;
}

/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}

.back img{
    width: 100px;
    height: 100px;
}

.about_team .name{
    font-size: 24px;
    margin-top: 20px;
}

.about_team .occupation{
    font-size: 18px;
}

.about_team .describe{
    width: 240px;
    margin-left: calc(50% - 120px);
    font-size: 14px;
    line-height: 24px;
    text-align: left;
    margin-top: -50px;
    background-color: #fff;
    padding: 50px 12px 30px;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, .075), 2px 2px 10px #f0f0f0;
}


/*
* 专家顾问
*/

.advisors_cell_img{
    float: left;
    width: 250px;
    height: 300px;
}

.advisors_cell_text{
    float: right;
    width: 900px;
    height: 300px;
}

.advisors_cell_img{
    margin-left: 50px;
}

.about_advisors .name{
    font-size: 18px;
    margin-top: 20px;
    padding: 0 50px;
}

.about_advisors .occupation{
    font-size: 18px;
    margin-bottom: 20px;
    padding: 0 50px;
}

.about_advisors .describe{
    font-size: 14px;
    line-height: 24px;
    padding: 0 50px;
}

/*
* 投资机构
*/


.backers_cell_img{
    float: left;
    width: 300px;
    height: 200px;
}

.backers_cell_text{
    float: right;
    width: 900px;
    height: 200px;
}

/*
* 媒体报道
*/

.about_row_left{
    float: left;
}

.about_row_right{
    float: right;
}

.media_cell_img{
    float: left;
    width: 200px;
    height: 200px;
}

.media_cell_text{
    float: right;
    width: 400px;
    height: 200px;
    margin-top: 30px;
    padding: 0 30px;
}

.media_cell_text .report{
    float: right;
}

/*
* 联系我们
*/

.contact_us_cell_img{
    width: 500px;
    margin-bottom: 70px;
    padding-left: 100px;
}

.contact_us_cell_img img{
    margin-bottom: 5px;
}
