body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif !important;
}

.product-warp h2 {
    color: #223976;
}

.product-warp p {
    font-size: 12px;
    color: #223976;
}

#invest_value {
    max-width: 500px;
    margin: auto;
    border: 1px solid #ccc;
    border-top: 4px solid #223976;
    border-radius: 6px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.payment{
    width: 90%;
    margin: auto;
    border-top:1px solid #ccc;
    padding: 10px 0;
    color: #666;
}
.invest_value {
    font-size: 24px;
    line-height: 5;
    height: 5em;
    color: #335095;

}

.invest_value span {
    margin-left: 10px;
    color: #ff6600;
}

.show-user-info, .user-info {
    margin-top: 30px;
}

.user-info, .document-info, .signature {
    width: 60%;
    margin: 30px auto 0;
    position: relative;
    color: #555;
}

.hide-info {
    position: absolute;
    top: 20px;
    right: 0;
}

.info-title {
    border-bottom: 1px solid #ccc;
    line-height: 3;
    margin: 15px auto 8px;
    font-size: 16px;
    font-weight: 700;
}

.user-info .col-md-6，.address_info .col-md-12 {
    margin-top: 8px;
    font-size: 12px;
}

.user-info label {
    width: 35%;
    display: inline-block;
    vertical-align: top;
}

.user-info span {
    max-width: 60%;
    display: inline-block;
    font-weight: normal;
}

.document-info input {
    vertical-align: top;
    margin-right: 5px;
}

.document-item .checkbox {
    display: block;
    margin-top: 6px;
}

.document-item .checkbox a {
    cursor: pointer;
}

#signature-reset-button {
    padding: 5px 20px;
    border: none;
    background: #335095;
    border-radius: 6px;
    color: #fff;
    float: right;
}

#signature-box {
    border: 1px dotted #ccc;
    margin-bottom: 10px;
}

#update_order {
    border: none;
    width: 120px;
    height: 44px;
    border-radius: 22px;
    color: #fff;
    font-size: 18px;
    background: #335095;
    margin: 30px 0;
}

.beforeOpen {
    text-align: center;
    padding: 5em 15px;
}

.beforeOpen p {
    text-align: center;
    color: #223976;
    font-size: 24px;
    margin: 20px 0;
}

.beforeOpen input {
    padding: 3px 0;
    width: 400px;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 6px;
    text-align: center;
}

#signaturePage {
    display: none;
}

.user-info {
    display: none;
}

.middle_bank {
    display: none;
}

.routing_number {
    display: none;
}

.beforeOpen button {
    padding: 5px 20px;
    border: none;
    background: #223976;
    border-radius: 6px;
    margin-top: 2em;
    color: #fff;
    font-size: 16px;
}

div#document-loading, div#document-error {
    width: 320px;
    height: 180px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    display: none;
    font-size: 15px;
}

div#document-loading img, div#document-error img {
    display: block;
    margin: 0 auto;
    width: 64px;
    height: 64px;
}

div#document-loading p, div#document-error p {
    text-align: center;
    margin-top: 50px;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #eee;
    overflow-x: hidden; /* Disable horizontal scroll */
    text-align: center;
}

.overlay-left-top {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    color: #fff;
    background: #fdad13;
    width: 100%;
    text-align: left;
    padding: 8px 10px;
}

.overlay-left-top:hover {
    cursor: pointer;
}

#document-preview-element {
    height: 100%;
    width: 90%;
}

@media (max-width: 767px) {
    #invest_value, .user-info, .document-info, .signature {
        width: 100%;
    }

    .beforeOpen p {
        font-size: 20px;
    }

    .beforeOpen input {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 80%;
    }

    .user-info {
        margin-top: 15px;
    }

    .hide-info {
        right: 0;
    }
}