body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration:none;
}
body{
    font-size: 14px;
}
#main{
    width: 1200px;
    margin: 0 auto;
}
#product_head{
    width: 100%;
    height: 90px;
    background: url("../img/header_bg.png");
}




.header{
    margin: 0 15px;
    overflow: hidden;
}
.product_logo{
    margin-top: 20px;
    width: 150px;
    height: 40px;
    float: left;
}
.product_logo img{
    display: block;
    width: 100%;
}

.header ul{
    overflow: hidden;
    float: right;
}
.header ul li{
    margin: 35px 30px 0;
    padding: 10px 0;
    float: left;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}
.header ul li a{
    color: #ffffff;
}
.header ul li.user_img{

    margin: 45px 20px 0;
    padding: 0;
}
.header ul li.user_img img{
    display: block;
    width: 100%;
}
.header ul li.active{
    border-bottom: 3px solid #ffffff;
}

#product_content{
    width: 100%;
}
.product_main{
    overflow: hidden;
    margin: 0 15px;
}
.backstageList_head{
    overflow: hidden;
    margin: 30px 0 20px 0;
}
.backstageList_search{
    width: 250px;
    height: 35px;
    border: 1px solid #cccccc;
    border-radius: 35px;
    float: left;
}
.backstageList_search input{
    width: 190px;
    height: 30px;
    border: none;
    outline: none;
    margin-left: 20px;
}
.backstageList_search i{
    width: 25px;
    height: 30px;
    text-align: center;
    line-height: 28px;
    font-size: 18px;
    color: #223976;
    cursor: pointer;
}
.backstageList_add{
    width: 120px;
    height: 35px;
    float: right;
    margin-right: 40px;
}
.backstageList_add .btn{
    width: 100%;
    border-radius: 35px;
}
.chart_head{
    border: 1px solid #cccccc;
    box-sizing: border-box;
    border-bottom: none;
    background: #ebf4ff;
}


.chart_head tr th{
    border: 1px solid #cccccc;
    height: 50px;
    text-align: center;
    border-bottom: none;
}
table tr td{
    height: 50px;
    text-align: center;
    border: 1px solid #cccccc;
    box-sizing: border-box;
}
.w_175{
    width: 175px;
}
.w_160{
    width: 160px;
}
.w_190{
    width: 190px;
}
.w_285{
    width: 285px;
}
.w_160{
    width: 160px;
}
.w_200{
    width: 200px;
}

/*模态框公用*/
.modal-header{
    background: #223976;
    border-radius: 5px 5px 0 0;
}
.modal-header h4{
    text-align: center;
    color: #ffffff;
}
.modal-header button span{
    color: #ffffff;
    display: inline-block;
    width: 20px;
    height: 28px;
    line-height: 30px;
    font-size: 35px;
    opacity:1;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 500;
    line-height: 1;
    color: #FFFFFF;
    text-shadow: none;
    filter: alpha(opacity=100);
    opacity: 1
}





label{
    line-height: 30px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.relative{
    position: relative;
}
.caution{
    font-size: 12px;
}
.relative .caution{
    position: absolute;
    left: 20px;
    top: 30px;
    font-size: 12px;
    color: #f0ad4e;
}
/*空白底部*/
.chart_body{
    margin-bottom: 30px;
}


