/*
* base style
*/
body {
    font-size: 12px;
    background-color: #fff;
}

.font-18 {
    font-size: 18px;
}

.font-16 {
    font-size: 16px;
    font-weight: 500;
}

.font-14 {
    font-size: 14px;
    font-weight: 400;
}

.font-12 {
    font-size: 12px;
    font-weight: 300;
}

.light-blue {
    color: #159bd6;
    font-weight: 400;
    margin-right: 10px;
}

.dark-blue {
    color: #223976;
}

.light-silver {
    color: #555;
}

.orange {
    color: #ff6600;
}

.red {
    color: #FF3333 !important;
}

.red-shadow {
    border: 1px solid #FF3333;
}

.form-inline {
    margin: 10px 0;
}

.form-inline label {
    width: 30%;
}

.form-inline .form-control {
    width: 68%;
}

.text-center {
    text-align: center;
}

.ajax_wait {
    /*position: relative;*/
}

.ajax_wait_gif img {
    position: fixed;
    left: calc(50% - 100px);
    top: 300px;
    z-index: 1000;
}

.input-sm {
    border-radius: 0;
}

input[type="checkbox"] {
    margin-right: 10px;
}

/*
* confirm
*/

#confirm-identity, #base-info, #address-prove, #bank-info, #invest-info, #invest-signature, #invest-golden, #order-id {
    width: 75%;
    margin-left: 12.5%;
}

.base-info-wrapper, .address-prove-wrapper, .bank-wrapper, .invest-wrapper, .invest-wrapper, .golden-wrapper, .order-wrapper {
    margin: 30px 7%;
}

.base-info-title {
    text-align: center;
    margin-top: 50px;
    border-bottom: 2px solid #dbdada;
}

.base-info-title p {
    margin: 0;
}

.base-info-title hr {
    float: left;
    margin-bottom: -2px;
    border-top: 2px solid #223976;
}

.base-info-title .product_name {
    font-size: 16px;
    color: #999;
}

.base-info-title span {
    color: #223976;
    font-size: 18px;
    display: inline-block;
    /*margin-bottom: 20px;*/
    font-weight: 500;
}

.border-blue {
    margin: 10px 0;
    padding: 20px;
    height: 110px;
    border-radius: 10px;
    border: 2px solid #223976;
}

.border-silver {
    margin: 10px 0;
    padding: 20px;
    height: 110px;
    border-radius: 10px;
    border: 2px solid silver;
}

.confirm {
    position: relative;
}

.next-step-wrapper {
    margin-top: 30px;
}

.step-one {
    width: 120px;
    height: 40px;
    border: none;
    color: #fff;
    font-size: 18px;
    margin: 10px 60px;
    border-radius: 30px;
}

.prev-step {
    width: 120px;
    height: 40px;
    color: #223976;
    font-size: 18px;
    margin: 0 60px;
    background-color: #fff;
    border: 1px solid #223976;
    border-radius: 30px;
    margin-bottom: 20px;
}

.next-step {
    width: 120px;
    height: 40px;
    border: none;
    color: #fff;
    font-size: 18px;
    margin: 0 60px;
    background-color: #223976;
    border-radius: 30px;
    margin-bottom: 50px;
}

.success {
    background-color: #223976;
}

/*
* base info
*/

#invest-error {
    display: none;
}

#invest-error img {
    width: 100%;
}

#base-info .col-md-5 {
    height: 50px;
}

#base-info hr {
    width: 20%;
}

.col-md-5 input, .col-md-5 select {
    height: 35px;
}

.personal-info, .passport-info {
    margin-top: 40px;
    margin-left: -5px;
    margin-bottom: 10px;
}

.personal-info .light-blue,
.passport-info .light-blue {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
}

.passport-info span {
    display: inline-block;
}

.step-section {
    margin: 35px 0 0;
}

.step-section a {
    margin: 0;
}

.upload-passport-info {
    overflow: hidden;
    margin-bottom: 30px;
}

.upload-passport-info .col-md-6 {
    padding: 0;
}

/*
*  address
*/

#address-prove hr {
    width: 32%;
}

.col-md-12 label {
    width: 20%;
}

.col-md-12 .form-control {
    width: 79%;
}

#address-effective {
    width: 65%;
}

.upload-address-info {
    overflow: hidden;
}

.upload-address-info .col-md-6 {
    padding: 0;
}

#address-prove .form-inline {
    margin: 15px 0;
}

/*
* bank info
*/

#bank-info hr {
    width: 40%;
}

.bank-wrapper-background {
    background-color: #fafbfe;
    border-top: 1px solid #223976;
    padding: 20px;
    margin-top: 20px;
}

.us-bank-choose .col-md-5 span {
    height: 35px;
    line-height: 35px;
}

.us-bank-choose .col-md-2 span {
    height: 35px;
    line-height: 35px;
}

#us-or-not {
    padding-top: 5px;
}

.button {
    width: 14%;
    color: #fff;
    height: 30px;
    border: none;
    font-size: 12px;
    text-align: center;
    /*border-radius: 4px;*/
    margin-left: 5px;
    background-color: #223976;
}

.button:hover, .button:focus, button:visited {
    color: #fff;
}

.button-blue {
    color: #223976;
    border: 1px solid #223976;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
    border-radius: 20px;
    display: inline-block;
}

.button-white {
    color: #ccc;
    font-size: 14px;
    line-height: 35px;
    text-align: center;
    border-radius: 20px;
    display: inline-block;
    border: 1px solid #ccc;
}

.non-us-bank, .us-bank {
    width: 75%;
}

#checking, #saving {
    color: #555;
    height: 35px;
    width: 200px;
    font-size: 12px;
    border-radius: 20px;
    margin-right: 100px;
}

#bank-info .checked {
    background-color: #fff;
    border: 1px solid #223976;
    color: #223976;
}

.checking-saving {
    display: none;
}

.middle-bank-info {
    margin-top: 20px;
}

.middle-bank .col-md-12 label {
    width: 100%;
}

.middle-bank .col-md-12 .form-control {
    width: 100%;
}

/*
* invest
*/

#invest-info {
    /*height: 1124px;*/
}

#invest-info hr {
    width: 60%;
}

.product-name {
    font-size: 32px;
    font-weight: 500;
}

.invest-money {
    position: relative;
}

.money {
    position: absolute;
    font-size: 32px;
    left: 20px;
}

#invest-amount-title {
    text-align: center;
    font-size: 18px;
    margin-top: 10px;
    margin-right: 5px;
}

.invest-amounts {
    width: 260px;
    height: 50px;
    font-size: 32px;
    margin: 0 5px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding-left: 22px;
}

.sub {
    margin-bottom: 10px;
}

.add {
    margin-bottom: 10px;
}

#invest-entrance {
    /*background: url(../img/channel/invest_card.png) no-repeat;*/
    background-size: cover;
    width: 500px;
    /*height: 170px;*/
    margin-left: calc(50% - 250px);
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-top: 4px solid #223976;
    border-radius: 6px;
}

.get-bank-info .col-md-10 .form-control {
    width: 600px;
}

#invest-info .form-control {
    border: none;
    box-shadow: 0 0 0 0;
}

.product-info .product-name {
    font-size: 28px;
}

.product-info p {
    font-size: 12px;
    margin-bottom: 0;
}

#invest-info .base-info-title {
    margin-top: 20px;
}

.get-base-info label {
    font-size: 12px;
}

.get-base-info span {
    font-size: 12px;
}

.get-address-info p {
    font-size: 12px;
    line-height: 1;
}

.get-bank-info label {
    font-size: 12px;
    width: 100%;
}

/*
* signature
*/

#invest-signature hr {
    width: 80%;
}

#invest-info .form-inline {
    margin: 0;
}

.invest-wrapper label {
    font-weight: 500;
}

.bottom-line {
    margin: 40px 0 10px;
    border-bottom: 1px solid silver;
}

#signature-declaration {
    margin: 40px 0px 10px;
    color: #999;
    font-size: 12px;
}

#signature-box {
    /*margin-left: 3%;*/
    width: 100%;
    height: 240px;
}

#signature-line {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border: 2px dotted #000;
    border-radius: 10px;
    background: #fcfbfb;
}

#signature-reset-button {
    /*margin-top: 20px;*/
    margin-bottom: 10px;
}

.signature-default {
    position: absolute;
    top: 280px;
    left: 5px;
    font-weight: 500;
    display: none;
}

.reset-signature {
    margin-right: 4px;
    background-color: #223976;
    color: #fff;
    border-radius: 4px;
    border: none;
    width: 80px;
    height: 30px;
    float: right;
}

#get-invest-entrance {
    background: url(../img/channel/invest_card.png) no-repeat;
    background-size: cover;
    width: 500px;
    height: 170px;
    margin-left: calc(50% - 250px);
    padding-top: 15px;
}

.get-invest-amount {
    font-size: 24px;
    line-height: 150px;
    font-weight: 500;
}

.document-checkbox {
    margin-right: 5px;
}

.get-invest-document p.documents label {
    color: #555;
}

#invest-signature .product-rate,
#invest-signature .product-deadline {
    font-size: 12px;
    margin-bottom: 0;
}

/******** OVERLAY *********/

div#document-loading, div#document-error {
    width: 320px;
    height: 180px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    display: none;
    font-size: 15px;
}

div#document-loading img, div#document-error img {
    display: block;
    margin: 0 auto;
    width: 64px;
    height: 64px;
}

div#document-loading p, div#document-error p {
    text-align: center;
    margin-top: 50px;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #eee;
    overflow-x: hidden; /* Disable horizontal scroll */
    text-align: center;
}

.overlay-left-top {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    color: #fff;
    background: #fdad13;
    width: 100%;
    text-align: left;
    padding: 8px 10px;
}

.overlay-left-top:hover {
    cursor: pointer;
}

#document-preview-element {
    height: 100%;
    width: 90%;
}

/*
* golden
*/

#invest-golden hr {
    width: 100%;
}

.nav-golden {
    border: 1px solid #f0f0f0;
    border-bottom: 0px;
}

#nav-golden li a {
    border-radius: 0 !important;
}

#nav-golden > li > a:hover {
    border-bottom-color: transparent;
}

#nav-golden-list {
    padding: 0 10%;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid #f0f0f0;
    color: #555;
}

#nav-golden-list .ach-document {
    margin: 10px 0px;
}

#nav-golden-list .ach-document label, #get-invest-document label {
    display: inline !important;
}

#nav-golden-list .golden-announce {
    margin-bottom: 40px;
}

#nav-golden-list .golden-announce p {
    margin: 5px 0px;
    padding: 0;
    font-size: 13px;
}

#nav-golden-list .form-inline label {
    width: 100%;
    font-weight: 500;
    color: #555;
}

#nav-golden-list li a {
    margin-right: 0px !important;
}

#nav-golden-list .form-inline {
    margin: 0px;
}

#nav-golden-list .form-inline .input-sm {
    margin-left: -10px;
}

#nav-golden-list .col-md-9 {
    margin-bottom: 15px;
}

.nav-1 {
    text-align: center;
    padding-right: 0px;
    /*margin-left: 5%;*/
    /*width: 30%;*/
}

#nav-golden .nav-1 a {
    border-left: none;
    border-right: none;
    font-size: 14px;
}

.nav-2 {
    text-align: center;
    padding-right: 0px;
    display: inline-block;
    /*background-color: #eee;*/
}

#nav-golden .nav-2 a {
    border-left: none;
    border-right: none;
    font-size: 14px;
}

.nav-3 {
    text-align: center;
    /*margin-left: 5px;*/
    /*width: 30%;*/
}

#nav-golden .nav-3 a {
    border-left: none;
    border-right: none;
    font-size: 14px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border-top: 3px solid #223976;
    border-radius: 0;
}

.bank-list .form-line:hover {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #f4f5f9;
}

.choose-bank {
    overflow: hidden;
    /*height: 80px;*/
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px 5px;
}

.choose-bank p {
    color: #555;
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 0;
}

.bank-icon {
    width: 100%;
    max-width: 80px;
    height: auto;
}

#Modal .close {
    position: absolute;
    float: none;
    color: #555;
    right: 30px;
    opacity: 1;
}

.has_checked {
    border-color: #223976;
}

.has_checked p {
    color: #223976;
}

.modal-lg {
    width: 70%;
}

#ach .form-control {
    border: none;
    box-shadow: 0 0 0 0;
}

#wire .form-control {
    border: none;
    box-shadow: 0 0 0 0;
}

#check .form-control {
    border: none;
    box-shadow: 0 0 0 0;
}

/*
*  order-id
*/

#order-id {
    /*height: 800px;*/
}

.order-img {
    margin-top: 5em;
}

.order-img img {
    margin-left: calc(50% - 75px);
}

#nav-golden-list p {
    height: inherit !important;
}

@media (max-width: 735px) {
    .form-inline .form-control {
        width: 100%;
    }

    #base-info .col-md-5 {
        height: 70px;
    }

    #phone-label {
        width: 100% !important;
    }

    #phone-code {
        width: 30% !important;
    }

    #phone {
        float: right;
        width: 69% !important;
    }

    #address-effective {
        width: 100% !important;
    }

    #address-effective-wrapper {
        padding: 0px 30px !important;
    }

    #address-detail-wrapper {
        height: 135px !important;
    }

    #address-detail {
        width: 92% !important;
    }

    .non-us-bank {
        width: 35% !important;
        float: left;
        font-size: 12px;
    }

    #us-or-not {
        float: left;
        margin-top: -10px;
        width: 26%;
    }

    #us-or-not span {
        margin-right: 0px !important;
    }

    .us-bank {
        width: 35% !important;
        float: right;
        margin-top: -13px;
        font-size: 12px;
    }

    #checking, #saving {
        width: 100%;
    }

    .col-md-12 label {
        width: 100% !important;
    }

    .invest-amounts {
        width: 170px !important;
        font-size: 24px !important;
        height: 40px !important;
        border-radius: 5px !important;
    }

    .money {
        font-size: 24px !important;
        left: 15px !important;
        top: -14px !important;
    }

    .s-hide {
        display: none;
    }

    #get-invest-entrance {
        width: 300px !important;
        margin-left: calc(50% - 150px) !important;
        background-size: 100% 170px;
    }

    .modal-dialog {
        width: 95% !important;
    }

    #invest-entrance {
        width: 300px !important;
        margin-left: calc(50% - 150px) !important;
        background-size: 100% 170px;
    }

    #bank-name-wrapper {
        margin-bottom: 50px;
    }

    #find-common-banks {
        width: 100% !important;
        float: right;
        margin-top: 1px;
    }

    #bank-name {
        width: 100% !important;
    }

    .get-base-info span {
        display: inline-block !important;
    }

    .get-base-info .row .form-control {
        width: 65%;
    }

    .get-bank-info .row {
        margin-bottom: 10px !important;
    }

    .get-bank-info .row p {
        width: 100% !important;
        padding: 0 !important;
    }

    #confirm-identity, #base-info, #address-prove, #bank-info, #invest-info, #invest-signature, #invest-golden, #order-id {
        width: 90% !important;
        margin-left: 5%;
    }

    #nav-golden-list .form-control p {
        margin: 0;
        padding: 0;
    }

    #address {
        position: relative !important;
    }

    #address-detail-wrapper {
        position: absolute !important;
        width: 100% !important;
        top: 270px !important;
    }

    #post-code-mb {
        margin-top: 150px;
    }
}

.form-control {
    border-radius: 0 !important;
}

.productAndOrder {
    width: 75%;
    margin: 30px auto 0;
    color: #555;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
}

.about_product, .about_order {
    width: 50%;
    float: left;
}

.about_product span, .about_order span {
    margin-right: 10px;
    font-weight: 500;
}
#invest-info .payment{
    margin-left: 80px;
    text-align: left;
}
#invest-info .payment label{
    color: #555;
    font-weight: normal;
}
.checkbox, .radio{
    margin: 5px 0;
}
#signature-box{
    overflow: hidden;
}