body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration:none;
}
body{
    font-size: 14px;
    font-family: "微软雅黑";
}
#main{
    width: 1200px;
    margin: 0 auto;
}
#product_head{
    width: 100%;
    height: 90px;
    background: url("../img/header_bg.png");
}




.header{
    margin: 0 15px;
    overflow: hidden;
}
.product_logo{
    margin-top: 20px;
    width: 150px;
    height: 40px;
    float: left;
}
.product_logo img{
    display: block;
    width: 100%;
}

.header ul{
    overflow: hidden;
    float: right;
}
.header ul li{
    margin: 35px 30px 0;
    padding: 10px 0;
    float: left;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
}
.header ul li a{
    color: #ffffff;
}
.header ul li.user_img{

    margin: 45px 20px 0;
    padding: 0;
}
.header ul li.user_img img{
    display: block;
    width: 100%;
}
.header ul li.active{
    border-bottom: 3px solid #ffffff;
}
#product_content{
    width: 100%;
}
.product_main{
    width: 1000px;
    margin: 0 auto;
}
.head{
    margin: 30px 0 20px;
    overflow: hidden;
}
.head_left{
    float: left;
}
.head_right{
    float: right;
    font-size: 18px;
    color: #159bd6;
}
.show_permission{
    font-size: 14px;
    color: red;
}
label{
    line-height: 30px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.counselor_info{
    border: 1px solid #cccccc;
    box-sizing: border-box;
}
.counselor_info .line50{
    line-height: 50px;
}


