.index, .partner{
    width: 1200px;
    display: inline-block;
    /*margin-left: calc(50% - 600px);*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*margin-left: -600px;*/
    /*margin-top: 350px;*/
}

.nav_photo_fir{
    line-height: 80px!important;
}

.nav_photo_sec{
    line-height: 80px!important;
}

.row{
    width: 1200px;
    /*margin-left: calc(50% - 600px);*/
}

.about_row{
    width: 100%;
    display: table;
}

.about_row_left{
    float: left;
}

.about_row_right{
    float: right;
}

.contact_us_cell_img{
    width: 598px;
    padding-left: 60px;
}

.contact_us_cell_img img{
    margin-bottom: 5px;
}

.index_house{
    text-align: left;
    background: url("../img/index/index_bgc_1.png") no-repeat;
    margin-top: 70px;
    padding-top: 70px;
    padding-left: 30px;
}

.index_AT{
    text-align: right;
    height: 350px;
    background: url("../img/index/index_bgc_2.png") no-repeat;
    background-position: right 50px top;
    /*margin-top: 70px;*/
    padding-top: 4px;
    padding-right: 30px;
}

.index_AT .index_title{
    margin-top: 60px;
}

.index_invest{
    text-align: left;
    background: url("../img/index/index_bgc_3.png") no-repeat;
    margin-top: 70px;
    padding-top: 80px;
    padding-left: 30px;
}

.index_title{
    font-size: 32px;
    line-height: 50px;
}

.index_text{
    font-size: 20px;
    line-height: 40px;
}

.index_more{
    font-size: 18px;
    line-height: 36px;
}

.index_connect{
    font-size: 14px;
}

.partner{
    background-color: #fff;
}

.index_partner{
    margin-top: 80px;
    text-align: center;
}

.index_partner span{
    display: inline-block;
    width: 150px;
    height: 70px;
    font-size: 32px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #555;
}

.index_partner_pic img{
    margin-left: calc(50% - 132px);
    margin-top: 30px;
}

 .flexslider {
     margin: 0px auto 20px;
     position: relative;
     width: 1200px;
     height: 382px;
     overflow: hidden;
     zoom: 1;
     margin-left: calc(50% - 600px);
 }

.flexslider .slides li {
    list-style-type: none;
    width: 100%;
    height: 100%;
}

.flex-direction-nav{
    padding: 0;
}

.flex-direction-nav a {
    width: 100px;
    height: 150px;
    line-height: 99em;
    overflow: hidden;
    margin: -35px 0 0;
    display: block;
    position: absolute;
    top: 25%;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .3s ease;
    border-radius: 35px;
}

.flex-direction-nav .flex-next {
    background: url("../img/index/banner/index_nav_l.png") no-repeat;
    right: 0;
}

.flex-direction-nav .flex-prev {
    background: url("../img/index/banner/index_nav_r.png") no-repeat;
    left: 30px;
}

.flexslider:hover .flex-next {
    opacity: 0.8;
    filter: alpha(opacity=25);
}

.flexslider:hover .flex-prev {
    opacity: 0.8;
    filter: alpha(opacity=25);
}

.flexslider:hover .flex-next:hover,
.flexslider:hover .flex-prev:hover {
    opacity: 1;
    filter: alpha(opacity=50);
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

.flex-control-nav li {
    margin: 0 2px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    background: url("../img/index/banner/dot.png") no-repeat 0 -16px;
    display: block;
    height: 16px;
    overflow: hidden;
    text-indent: -99em;
    width: 16px;
    cursor: pointer;
}

.flex-control-paging li a.flex-active,
.flex-control-paging li.active a {
    background-position: 0 0;
}

.flexslider .slides a img {
    width: 100%;
    height: 382px;
    display: block;
}

.index_nav{
    height: 630px;
    margin-top: 120px;
    background-color: #f4f4f4;
}

.index_nav p{
    font-size: 34px;
    line-height: 200px;
    font-weight: 600;
    text-align: center
}

.partner{
    margin-bottom: 100px;
}

.index_ria{
    height: 434px;
    background: url("../img/index/index_ria_bgi.png") no-repeat;
    background-position: center;
}

.ria{
    color: #fff;
    text-align: right;
    padding-top: 130px;
    padding-right: 80px;
}

.ria_title{
    font-size: 34px;
    margin-bottom: 20px;
}

.ria_text{
    font-size: 16px;
}

.ria_icon{
    padding-top: 100px;
    padding-left: 80px;
}

.about_us{
    display: inline-block;
    padding-top: 60px;
    padding-bottom: 60px;
}

.about_us p{
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.index_about_us_button{
    margin-top: 50px;
    display: inline-block;
    width: 224px;
    height: 74px;
    position: relative;
}

.index_about_us_text{
    font-size: 30px;
    position: absolute;
    top: 17px;
    left: 52px;
}

.index_about_us_text a{
    color: #1a2337;
    text-decoration: none;
}

.text-center{
    text-align: center;
}

.text-right{
    margin-top: 50px;
    text-align: right;
    padding-right: 50px;
}

.text-left{
    margin-top: 50px;
    text-align: left;
    padding-left: 50px;
}


/*
* 资产概况
*/

.asset_row_1{
    display: inline-block;
    height: 350px;
}

.asset_row_2{
    height: 350px;
    background-color: #f4f4f4;
}

.asset_row_2 .row{
    display: inline-block;
}

.asset_title{
    font-size: 24px;
    line-height: 50px;
    margin-top: 80px;
    margin-bottom: 40px;
}

.asset_text{
    font-size: 18px;
    line-height: 24px;
}

/*
* AT
*/

.at_title{
    text-align: center;
    font-size: 32px;
    line-height: 50px;
    margin-top: 100px;
}

.at_text_wrapper{
    padding-top: 120px;
}

.at_text{
    text-align: left;
    padding-left: 10px;
    font-size: 18px;
    line-height: 36px;
}

.at-middle-banner{
    height: 490px;
    margin-top: 80px;
    background: url("../img/AT/img07.png") no-repeat;
}

.at-middle-banner .row{
    display: inline-block;
}

.at-middle-banner-text{
    margin: 50px 0;
    text-align: center;
}

.at-middle-banner-text p{
    color: #fff;
    font-size: 30px;
    line-height: 50px;
}

.at-middle-banner p{
    text-align: center;
    font-size: 26px;
    color: #fff;
    line-height: 52px;
}

.at_row_1{
    display: inline-block;
}

.at_row_2{
    margin-top: 20px;
    position: relative;
}

.icon-right-1{
    position: absolute;
    top: -10px;
    left: 400px;
}

.icon-right-2{
    position: absolute;
    top: -10px;
    right: 370px;
}

.at_row_3{
    height: 325px;
    padding-top: 120px;
}

.at_consult_wrapper{
    text-align: center;
    position: relative;
}

.at_consult{
    position: absolute;
    top: 11px;
    left: 80px;
    font-size: 34px;
}

.at_consult a{
    color: #1a2337;
    font-size: 30px;
    text-decoration: none;
}

.at_api_text{
    padding-left: 10px;
    font-size: 32px;
    line-height: 50px;
    text-align: left;
}

.at-middle-bgc{
    background-color: #f4f4f4;
}

.at-middle-bgc .row{
    display: inline-block;
}


/*
* 加入我们
*/

.join_us{
    margin-top: 100px;
    height: 800px;
    background: url("../img/join_us_pic.png") no-repeat;
    background-position: center;
    text-align: center;
}

.join_text{
    display: inline-block;
    margin-top: 50px;
}

.join_us p{
    text-align: center;
    font-size: 18px;
    line-height: 32px;
}

.model{
    margin-top: 50px;
    text-align: center;
}

.join_us_model{
    display: inline-block;
    padding-top: 60px;
    width: 630px;
    height: 460px;
    border-radius: 8px;
    /*margin-left: calc(50% - 315px);*/
    background-color: #fff;
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, .075), 2px 2px 10px rgba(97, 225, 255, 0.07);
}

.join_us_model input{
    border: 1px solid silver;
    border-radius: 4px;
    height: 45px;
    padding: 0px 8px;
}

#name, #email{
    /*text-align: center;*/
    width: 400px;
}

#country{
    width: 110px;
    height: 45px;
    border: 1px solid silver;
    border-radius: 4px;
    margin-right: 5px;
}

#phone{
    width: 285px;
    padding-left: 5px;
}

#question{
    width: 400px;
    border: 1px solid silver;
    border-radius: 4px;
    margin-left: calc(50% - 315px);
    padding: 0px 8px;
    resize: none;
}

#join_us{
    color: #fff;
    width: 140px;
    height: 50px;
    font-size: 16px;
    margin-top: 30px;
    padding: 10px 30px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #159bd6;
}


/*
*  首页banner
*/

.index_nav_banner{
    width: 1200px;
    position: relative
}

.index_nav_banner .index_nav_text_wrapper{
    width: 680px;
    height: 250px;
    border: 1px solid #6b80b8;
    margin-left: 360px;
    background-color: #fff;
}

.index_nav_banner .index_nav_text{
    width: 450px;
    margin: 50px;
    height: 150px;
    float: right;
}

.index_nav_banner .person_name{
    text-align: left;
    padding-left: 50px;
    /*margin-top: 30px;*/
    color: #223976;
    font-size: 24px;
    line-height: 32px;
    font-weight: 300;
}

.index_nav_banner .person_evaluate{
    text-align: left;
    padding-left: 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    color: #07080e;
}

.index_nav_banner .img{
    position: absolute;
    top: 45px!important;
    left: 250px!important;
    width: 252px!important;
    height: 159px!important;
}

a{
    text-decoration: none!important;
}