
/********** 认购完成新样式 ************/
body{
    background-color: #fff;
}

#channel{
    text-align: left;
}

#modal-content{
    max-width: 700px;
    margin: auto;
}

#order{
    text-align: center;
    /*width: 900px;*/
    height: 185px;
    padding-top: 100px;
    border-bottom: 2px solid #223976;
}

.con{
    font-size: 18px;
    line-height: 24px;
    color: #ff3300;
}

.or_num{
    font-size: 18px;
    line-height: 24px;
    color: #555;
}



.ach{
    width: 100%;
    padding: 20px 50px;
}

.ach p{
    font-size: 18px;
    line-height: 36px;
    color: #555;
    text-align: center;
}


.check{
    width: 100%;
    padding: 15px 20px 20px;
}

.check .col-md-4{
    color: #555;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}

.check .col-md-8{
    color: #999;
    text-align: left;
}

.wire{
    width: 100%;
    padding: 15px 20px 20px;
}

.wire_us{
    width: 100%;
    padding: 15px 20px 20px;
}

.wire p{
    font-size: 12px;
}

.wire-info-show{
    color: #159bd6;
}

.wire-info{
    padding: 0 0 10px;
}

.wire .col-md-4{
    color: #555;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}

.wire .col-md-8{
    color: #999;
    text-align: left;
}

.wire_us .col-md-4{
    color: #555;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
}

.wire_us .col-md-8{
    color: #999;
    text-align: left;
}


@media (max-width: 767px) {
    #wrapper{
        box-shadow: none;
    }
    #order{
        margin: 0 20px;
        height: 85px;
        padding-top: 20px;
    }
    .row{
        margin-bottom: 4px;
    }
}