.float-r{
    float: right;
}
.row{
    margin-top:15px;
}
.form-inline .form-control{
    width: 230px;
    font-size: 12px;
}
.form-inline label{
    width: 80px;
    text-align: left;
}
.form_datetime{
    border: none;
    width: 80px;
    font-size: 12px;
}
.form_datetime:focus{
    outline: none;
}
.form-inline .checkbox{
    width: 120px;
}
.form-inline .checkbox input[type=checkbox]{
    margin-right: 5px;
    vertical-align: top;
}
#invest-date{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*.date-picker-wrapper{
    margin-left: 17px;
}*/

.clear-search{
    width: 120px;
    font-size: 14px;
    padding: 9px 0;
    text-align: center;
    border:1px solid #335095;
    color: #335095;
    border-radius: 17px;
    background: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: 20px;
}
.search{
    width: 120px;
    font-size: 14px;
    padding: 9px 0;
    text-align: center;
    border:none;
    color: #fff;
    border-radius: 17px;
    background: #335095;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clear-search,.search{
    outline: none;
}
.order-list{
    width: 100%;
}
.order-list th,.order-list td{
    border: 1px solid #ccc;
}
.order-list th{
    text-align: center;
    padding: 16px 0;
    font-size: 18px;
    color: #223976;
    background: #ebf4ff;
}
.order-list td{
    font-size: 14px;
    padding: 13px 8px;
    color: #555;
}
.order-list td a{
    color: #159bd6;
}