.order_warp {
    width: 1030px;
    margin: auto;
}

.about_product, .about_file, .about_order {
    margin-top: 30px;
}

.about_product_left span {
    display: inline-block;
    line-height: 20px;
    font-size: 16px;
    color: #335095;
    vertical-align: middle;
}

.about_product_left span.line {
    display: inline-block;
    width: 3px;
    height: 20px;
    background: #335095;
    margin-right: 20px;
    vertical-align: middle;
}

.about_product_left p {
    margin: 16px 23px;
    color: #335095;
}

.about_product_right span {
    font-size: 16px;
    margin-right: 20px;
}

.status_notes {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-bottom: -3px;
    background: url("../img/status_notes.png");
}

.order-product-detail {
    border: 1px solid #ccc;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
}

.order-product-detail .col-md-6 {
    margin: 5px 0;
}

.order-product-detail .col-md-6 label {
    width: 170px;
    padding-left: 30px;
}
.document_list{
    margin-top: 10px;
}
.document_list .col-md-12 a{
    padding-left: 23px;
    line-height: 30px;
}
.about_order .col-md-12{
    margin-top: 10px;
}
.cancel_order{
    background: none;
    border: none;
    color: #ff3300;
    padding-left: 23px;
    cursor: pointer;
}

.modal-header{
    background: #223976;
}
.modal-header h4{
    text-align: center;
    color: #fff;
}
.modal-header .close{
    color: #fff;
    opacity: 1;
}
.modal-footer{
    text-align: center;
}
.close_button{
    width: 107px;
    height: 30px;
    border: none;
    border-radius: 6px;
    background: #ddd;
    margin-right: 100px;
    color: #666;
}
#cancel_order{
    width: 107px;
    height: 30px;
    border: none;
    border-radius: 6px;
    background: #ff3300;
    color: #fff;
}
.modal-body{
    text-align: center;
}
#cancel-order-number{
    width: 250px;
    display: inline-block;
}