body{
    background-color: #f4f4f4;
}

#funds{
    /*margin: 1rem 0 0 0;*/
}

.fund_title{
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.fund_base_info{
    text-align: center;
    margin-bottom: 1.5rem;
    background-color: #fff;
    font-size: 1.5rem;
}

.logo_img{
    width: 20%;
    height: auto;
    margin: 20px 0 10px;
    /*background-color: yellow;*/
}

.fund_info{
    padding-bottom: 10px;
}

.fund_info p{
    display: inline-block;
    width: 48%;
}

.funding_history_table{
    width: 100%;
}

.funding_history_table th{
    text-align: center;
}

.funding_history_table td{
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.investment_highlights{
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    background-color: #fff;
}

.investment_highlights p{
    font-size: 1.6rem;
    color: #f87a76;
    height: 40px;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ccc;
}

.investment_highlights_info_list{
    margin: 1rem 2rem;
    padding: 0 1.5rem;
}

.investment_highlights_info_list li{
    font-size: 1.5rem;
    list-style: none;
    position: relative;
}

.dot{
    display: inline-block;
    position: absolute;
    width: 7px;
    height: 7px;
    top: 7px;
    left: -20px;
    border-radius: 50%;
    background-color: #ff3300;
}


.funding_history{
    background-color: #fff;
    padding-bottom: 2rem;
    /*padding: 1rem 2rem;*/
}

.funding_history p{
    font-size: 1.6rem;
    color: #a1d976;
    height: 40px;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ccc;
}

.funding_history_table{
    margin-right: 3%;
    width: 97%;
    /*margin-left: -3%;*/
}


.investor_descriptions{
    margin: 1rem 0;
    background-color: #fff;
    padding: 1rem 2rem;
}

.investor_descriptions>p{
    font-size: 1.6rem;
    line-height: 2rem;
    height: 32px;
    color: #efc54b;
    border-bottom: 1px solid #ccc;
}

.investor_list{
    overflow: hidden;
    margin-bottom: 30px;
}

.investor_logo{
    float: left;
    width: 20%;
    padding-right: 10px;
    display: inline-block;
    border-right: 1px solid #ccc;
}

.investor_logo img{
    width: 100%;
    vertical-align: middle;
}

.investor_text{
    padding-left: 10px;
    float: right;
    width: 80%;
    display: inline-block;
}

.founder_descriptions{
    background-color: #fff;
    padding: 1rem 2rem;
}

.founder_descriptions>p{
    font-size: 1.6rem;
    line-height: 2rem;
    height: 32px;
    color: #54c6f4;
    border-bottom: 1px solid #ccc;
}

.founder_list{
    overflow: hidden;
    margin-bottom: 30px;
}

.founder_logo{
    float: left;
    width: 25%;
    display: inline-block;
}

.founder_text{
    padding-left: 10px;
    float: right;
    width: 75%;
    display: inline-block;
}

.founder_logo img{
    width: 100%;
    vertical-align: middle;
    border-right: 1px solid #ccc;
}


.appointment{
    text-align: center;
}

.appointment p{
    height: 60px;
    margin: 0;
}

#consult{
    width: 50%;
    float: left;
    display: inline-block;
    font-size: 2rem;
    line-height: 5rem;
    border: none;
    border-top: 1px solid #000;
    color: #000;
    margin: 0;
    background-color: #fff;
}

#appoint{
    width: 50%;
    float: right;
    display: inline-block;
    font-size: 2rem;
    line-height: 5rem;
    border: none;
    color: #fff;
    margin: 0;
    background-color: #000;
}

/****** 立即预约 ********/

.form-control{
    height: 40px;
    border-radius: 2px;
}

.parsley-errors-list{
    padding: 0;
}

.parsley-errors-list li{
    list-style: none;
}

#phone{
    position: relative;
}

#countries_phone{
    width: 80px;
    border: none;
    height: 34px;
    background-color: transparent;
    position: absolute;
}

#recipient-phone{
    padding-left: 80px;
}

.modal-header{
    background-color: #000;
}

.close span{
    color: #fff;
}

#exampleModalLabel{
    color: #fff;
}

#id_question{
    resize: none;
}

#book_submit{
    height: 40px;
    background-color: #000;
}

#check{
    background-color: #000;
}

/****** 咨询********/

.text-center{
    text-align: center;
}

.text-center img{
    margin-top: 10px;
    margin-bottom: 10px;
}

#con-title{
    color: #fff;
}

.close{
    color: #fff;
    opacity: 1;
}

