body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;}
a{
    text-decoration: none;
}
a:hover{
    text-decoration:none;
}
body{
    font-family: "微软雅黑";
}
.table1{
    width: 1000px;
    text-align: center;
    border: 1px solid #dddddd;
    border-bottom: none;
    box-sizing: border-box;
}
.table1 .table_th{
    background: #ebf4ff;
}
.table_th td{
    height: 40px;
    width: 33.33%;
}
.color_223976{
    font-size: 16px;
    color: #223976;
}
.table2{
    width: 1000px;
    border: 1px solid #dddddd;
    border-top: none;
    box-sizing: border-box;
}
.table2 tr td{
    border: 1px solid #dddddd;
    border-top: none;
    height: 40px;
    width: 820px;
}
.table2 tr td:first-child{
    font-weight: 600;
    width: 180px;
    text-align: center;
}
.table2 tr td p{
    line-height: 34px;
    margin-left: 55px;
}