.container {
    margin-top: 50px;
}

.password {
    margin-left: 10px;
}

.share {
    border: none;
    color: #fff;
    padding: 5px 20px;
    border-radius: 6px;
    background: #223976;
}

.share:focus {
    outline: none;
}

.modal-title {
    text-align: center;
    color: #fff;
}

.modal-header {
    background: #223976;
}

button.close {
    font-weight: 400;
    color: #fff;
    opacity: 1;
}

button.close:hover {
    color: #fff;
    opacity: .8;
}