.container {
    margin-top: 50px;
}

.password {
    margin-left: 10px;
}

.share,.change_order {
    border: none;
    color: #fff;
    padding: 5px 20px;
    border-radius: 6px;
    background: #223976;
}
.change_order{
    background: #ddd;
    color: #555;
    margin-right: 40px;
}
.share:focus ,.change_order{
    outline: none;
}

.modal-content {
    margin-top: 100px;
}

.modal-title {
    text-align: center;
    color: #fff;
}

.modal-header {
    background: #223976;
    border-radius: 5px 5px 0 0;
}

button.close {
    font-weight: 400;
    color: #fff;
    opacity: 1;
}

button.close:hover {
    color: #fff;
    opacity: .8;
}